/* Layout */
html {
	background-color: #380000;
}
.container {
	width: 95%;
	margin: 0px auto;
	max-width: 1024px;
	min-width: 34em;
}
.content {
	max-width: 45em;
	min-width: 20em;
	background: #FFFFFF;
	padding: 30px;
	margin-top: 20px;
	margin-right: 200px;
	border-radius:10px;
	-moz-border-radius:10px;
	float: left;
}
.article-body {
	text-align: justify;
}
.clear {
	clear:both;
}
.logo {
	width:100%;
	max-width: 1024px;
	border-radius:10px;
	border: 2px solid black;
}
.right-column {
  float:right;
  margin-left:-200px;
  margin-top:20px;
  max-width:180px;
}

/* Right Column */
.rc-item {
  margin:0px;
  background: #FFFFFF;
  overflow: hidden;
  padding:5px;
  border-radius:5px;
  -moz-border-radius:5px;
  margin-bottom:20px;
}
.rc-title {
  font-weight:bold;
  display:block;
}
.navitem {
  display:block;
  margin-top:10px;
}
.translate {
  border: 1px solid black;
}
/* Footer */
.footer {
  background:#000000;
  color:#FFFFFF;
  text-align:right;
  font-size:70%;
  margin-top:20px;
  padding: 5px;
  border-radius:5px;
  -moz-border-radius:5px;
}
/* Text contents */
.title-date {
	font-style: italic;
	float:right;
}
h1 {
	margin: 0px;
}
p {
	text-indent: 1em;
}
