<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{{ site.name }}/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{{ page.title }} - CRRA</title>
  </head>
  <body>
	<div class="container">
  	<a href="{{ site.name }}/"><img class="logo" src="{{ site.name }}/logo.jpg"/></a>
	<div class="content">
	<div class="header">
		<h1 class="title-head">{{ page.title }}</h1>
		<span class="title-date">{{ page.date }}</span>
	</div>
	<div class="clear"><!----></div>
	<div class="article-body">
      {{ content }}
	</div>
	</div>
	<div class="right-column">
	<div class="rc-item">
	<span class="rc-title">See Also:</span>
	<a class="navitem" href="{{ site.name }}/">Home</a>
	<a class="navitem" href="{{ site.name }}/april_may_newsletter.html">Newsletter</a>
	<a class="navitem" href="{{ site.name }}/articles/deputation.html">Deputation to Community Board</a>
	</div>
	<div class="rc-item">
	<span class="rc-title">Translations:</span>
	<a href="{{ page.url | prepend:site.name | url_encode | google_translate:'ko' }}"><img class="translate" src="{{ site.name }}/img/korea.jpg" alt="Korean"/></a>
	<a href="{{ page.url | prepend:site.name | url_encode | google_translate:'zh-TW' }}"><img class="translate" src="{{ site.name }}/img/china.jpg" alt="Chinese"/></a>
	</div>
	</div>
	<div class="clear"><!----></div>
	<div class="footer">&copy; Central Riccarton Residents' Association, Inc 2012<div>
    </div>
  </body>
</html>
