<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>CRRA - {{ page.title }}</title>
  </head>
  <body>
	<div class="container">
	<div class="header">
		<h1 class="title-head">{{ page.title }}</h1>
		<h2 class="title-date">{{ page.date }}</h2>
	</div>
	<div class="content">
      {{ content }}
	</div>
    </div>
  </body>
</html>
