<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{{ page.title }} - CRRA</title>
  </head>
  <body>
	<div class="container">
  	<a class="logo" href="/"><img class="logo" src="/logo.jpg"/></a>
	<div class="content">
	<div class="header">
		<h1 class="title-head">{{ page.title }}</h1>
		<span class="title-date">{{ page.date }}</span>
	</div>
	<div class="clear"><!----></div>
	<div class="article-body">
      {{ content }}
	</div>
	</div>
	<div class="right-column">
	<div class="navbar">
	<span class="navtitle">See Also:</span><br/>
	<a class="navitem" href="/">Home</a>
	<a class="navitem" href="/april_may_newsletter.html">Newsletter</a>
	<a class="navitem" href="/articles/deputation.html">Deputation to Community Board</a>
	</div>
	</div>
	<div class="clear"><!----></div>
	<div class="footer">&copy; Central Riccarton Residents' Association, Inc 2012<div>
    </div>
  </body>
</html>
